/* header */

.thumbnail1 {
  position: relative;
}
.himg
{
  padding-top: 10px;
}
.caption {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  margin-right: 0;
}

.slide1 {
  padding-top: 60px;
}

.ftext {
  padding-right: 50px;
}
.logo
{
  height: 192px;
}
.ppad
{
  padding-bottom: 80px;
}

